.new-arrival-heading{
   font-family: 'Lumanosimo', cursive;
    color: #000000;
    text-align: center;
    margin-top: 30px;
}
             /* ribbon css */
             .card {
                position: relative;
                min-width: 300px !important;
              }
              .ribbon {
                position: absolute;
                right: -5px; top: -5px;
                z-index: 1;
                overflow: hidden;
                width: 75px; height: 75px;
                text-align: right;
              }
              .ribbon span {
                font-size: 10px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                line-height: 20px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                width: 100px;
                display: block;
                background: #000;
                background: linear-gradient(#000 0%, #000 100%);
                box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
                position: absolute;
                top: 19px; right: -21px;
              }
              .ribbon span::before {
                content: "";
                position: absolute; left: 0px; top: 100%;
                z-index: -1;
                border-left: 3px solid #000;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #000;
              }
              .ribbon span::after {
                content: "";
                position: absolute; right: 0px; top: 100%;
                z-index: -1;
                border-left: 3px solid transparent;
                border-right: 3px solid #000;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #000;
              }
              
.card-text a{
    text-decoration: none;
    color: #000;
}
.card-body{
  color: #000!important;
}
.card-1{
    border-radius: 10px !important;
    margin-top: 15px;
}
.card-1 img{
    filter: drop-shadow(5px 5px 5px black);
}
.card-img-top{
  width: 220px;
  height: 300px;
}
.card-container{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 30px;
  margin-bottom: 30px;
}


  
  
  