.description{
    color: #555555;
}
.custom-loader {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #000;
    margin: 20vh auto;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s7 1s infinite steps(8);
  }
  
  @keyframes s7 {
    100% {transform: rotate(1turn)}
  }
.main-container-product img{
 max-width:35vw !important ;
 max-height: 80vh !important;
 margin: 5%  3% 0 5%;
}
.add-to-cart{
  width:250px;
}
@media only screen and (max-width :600px){
.main-container-product{
flex-direction: column;
align-items: center;
justify-content: center;
}
.main-container-product img{
  min-width:70vw;
  max-height: 40vh;
}
.title-description{
  margin-left: 50px;
}
}
